<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>memo app</title>
</head>
<body>
  <div style="width: 1000px; margin: 0 auto;">
    <h1>
      <a href="/">
        メモアプリ
      </a>
    </h1>
    <%= yield %>
  </div>
</body>
</html>
