<form method="post" action="/memos">
  <div>
    <input style='width: 100%; margin-bottom: 15px;' type="text" name="title">
  </div>

  <div>
    <textarea style='height: 300px; width: 100%; margin-bottom: 15px;' type="text" name="body"></textarea>
  </div>

  <div style='text-align: center;'>
    <input type="submit">
  </div>
</form>
